<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-body p-5">
                <h2 class="text-center mb-4">Update Student</h2>
                <form [formGroup]="updateFarmerForm" (ngSubmit)="onSubmit()">
                    <div class="form-floating mb-3">
                        <input formControlName="firstName" class="form-control form-control-lg" type="text"
                            placeholder=" " />
                        <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                            class="alert alert-danger mt-1">
                            <div *ngIf="firstName.errors?.required">
                                First name is required
                            </div>
                        </div>
                        <label class="small">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="lastName" class="form-control form-control-lg" type="text"
                            placeholder=" " />
                        <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                            class="alert alert-danger mt-1">
                            <div *ngIf="lastName.errors?.required">
                                Last name is required
                            </div>
                        </div>
                        <label class="small">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="email" class="form-control form-control-lg" type="email"
                            placeholder=" " />
                        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="email.errors?.required">
                                Email is required
                            </div>
                            <div *ngIf="email.errors?.email">
                                Email is invalid
                            </div>
                        </div>
                        <label class="small">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="address" class="form-control form-control-lg" type="text"
                            placeholder=" " />
                        <div *ngIf="address?.invalid && (address?.dirty || address?.touched)"
                            class="alert alert-danger mt-1">
                            <div *ngIf="address.errors?.required">
                                Address is required
                            </div>
                        </div>
                        <label class="small">Address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="contactNumber" class="form-control form-control-lg" type="text"
                            placeholder=" " />
                        <div *ngIf="contactNumber?.invalid && (contactNumber?.dirty || contactNumber?.touched)"
                            class="alert alert-danger mt-1">
                            <div *ngIf="contactNumber.errors?.required">
                                Contact Number is required
                            </div>
               
                        </div>
                        <label class="small">Contact Number</label>
                    </div>
                    <div class="form-group text-center mt-4">
                        <button [disabled]="updateFarmerForm.invalid" class="btn btn-primary btn-lg px-5" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>